:root {
    --main-linear-gradient: linear-gradient(90deg, #f21487, #c71cc6);
    --blue: #00C4F4;
}




* {
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 5;
}

.cross {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #d33636;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 30px 0 0 30px;
    border-radius: 5px;
    cursor: pointer;
}

.chart {
    width: 60%;
    margin: auto;
    padding-left: 20px;
    margin-top: 50px;
    background-color: #18181ce6;
    border: 2px solid #404042;
    border-radius: 20px;
}

.graph {
    width: 100%;
    height: 300px;
    padding-right: 20px;
}

.name {
    display: flex;
    align-items: center;
    margin: 20px 30px;
}

.name img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.name p {
    font-size: 1.5rem;
    font-weight: 700;
}

.types {
    margin-top: 30px;
}

.types button {

    margin: 10px 20px;
    background-color: #18181cdb;
    border: 1px solid var(--blue);
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.types .selected {
    background: var(--blue);
    color: #fff;
}

.details {
    display: flex;
    justify-content: start;
    margin: 30px 20px;
    column-gap: 20px;
}

.details div {
    display: flex;
    font-size: 1.1rem;
}

.details p {
    margin-right: 7px;
    color: var(--blue);
    font-weight: 700;
}


@media (min-width:280px) and (max-width:476px) {
    .chart {

        width: 90%;
        height: 40%;
        padding: 0;

    }

    .graph {
        width: 100%;
        height: 30%;
    }



    .name img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .name p {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .details {
        display: none;
    }

    .types {
        display: flex;
        margin: 0;
        margin-top: 10px;
    }

    .types button {
        background-color: #18181cdb;
        border: 0.5px solid var(--blue);
        color: #fff;
        font-size: 0.7rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .types .selected {
        background: var(--blue);
        color: #fff;
    }

    #total_volume {
        display: none;
    }

}

@media (min-width:477px) and (max-width:768px) {
   .details div {

    font-size: 1rem;
   }


   .types button {
    width:50%;
   }
 
   .details .marketCap {
    display: none;
   }
   .details {
    display: flex;
    justify-content: space-between;
   }
} 
