@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.pagination {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  font-family: "League Spartan", sans-serif;
  margin-top: 40px;
}

.pagination button {
  width: 80px;
  background: linear-gradient(90deg, #f21487, #c71cc6);
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
}

.pagination p {
  display: inline-block;
  border: 1px solid rgb(63, 63, 58);
  /* padding: 10px 10px */
  width: 30px;
  text-align: center;
  border-radius: 10px;
}

.disabled {
  opacity: 0.5;
}

.selected {
  background: linear-gradient(90deg, #f21487, #c71cc6);
}
