:root {
  --main-linear-gradient: linear-gradient(90deg, #f21487, #c71cc6);
  --blue: #00C4F4;


}


.pagination {
  margin-bottom: 30px 0;
  margin: 40px 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  width: 80px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #3132324a;
  border-radius: 50px;
  padding: 4px 0;
}
.pagination button:hover {
  background-color: #7d797b8a;
  transition: .3s ease-in;
}

.pagination p {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-radius: 10px;
}

.disabled {
  opacity: 0.5;
}

.selected {
  background: var(--blue);
  color: #000;
  margin: 0 8px;
}

@media (min-width: 280px) and (max-width: 499px) {

  .pagination button {
    width: 20px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .pagination p {
    display: inline-block;
    text-align: center;
    border-radius: 20px;

  }


}