:root {
    --main-linear-gradient: linear-gradient(90deg, #f21487, #c71cc6);
    --blue: #00C4F4;


}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.searchBox {
    display: flex;
    margin-bottom: 50px;
    justify-content: start;

}

.searchBox input {

    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #23242e;
    border: none;
    border-radius: 10px;
    background: rgba(113, 114, 115, 0.45);



}


.searchBox select {
    background: var(--blue);
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    color: #fff;
    padding: 0 10px;
    font-size: 1rem;

}

option {
    padding: 5px;
    margin: 5px;
    background-color: #313231fe;

}

.searchBox select:focus {
    outline: none;
    border: 1px solid var(--blue);

}




.searchResult {
    position: absolute;
    text-align: center;
    transform: translateY(50px);
    width: 300px;
    height: 40vh;
    border-radius: 12px;
    overflow-y: scroll;
    background-color: #18181cf4;
    border: 2px solid #22262e;
    padding: 20px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.searchResult li {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #313231;
}

.searchResult li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}



@media (min-width: 280px) and (max-width: 499px) {
    .searchBox input {
        width: 180px;
    }
}