* {
    text-shadow: 0px 0px 2px #cccbcb7b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
    min-height: 1000px;
}

.table {
    width: 100%;
    border-collapse: collapse;


}



.table thead tr {
    background: linear-gradient(90deg, #f214879f, #c71cc7a2);



}

.table thead tr th {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.593);

}

.table th {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 0;


}

.table tbody tr {
    height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;


}

.table td:nth-child(1) {
    background: #63606085;
}

.table td:nth-child(1):hover {
    background: #82639f8b;
    animation: 4s ease-in-out;
}


.table th,
td {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.067);

}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;

}


.symbol span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #9fa6b7;
}

.success {
    color: #57bc7c;
}


.error {
    color: red;
}

.chartSvg {
    width: 40px;
    height: 40px;
}












@media (min-width: 280px) and (max-width: 499px) {

    .table {
        overflow-y: scroll;
        width: 100%;
        border: 2px solid white;

    }


    table th:nth-child(4),
    .table th:nth-child(5),
    .table th:nth-child(2),
    .table th:nth-child(6),

    .table td:nth-child(2),
    .table td:nth-child(4),
    .table td:nth-child(5),
    .table td:nth-child(6) {
        display: none;
    }

    .table td,
    .table th {
        padding: 8px 10px;
        font-size: 1.1rem;

    }
}


@media (min-width: 500px) and (max-width: 576px) {

    .table {
        overflow-y: scroll;
        width: 100%;
    }

    table th:nth-child(4),
    .table th:nth-child(5),
    .table td:nth-child(4),
    .table td:nth-child(5) {
        display: none;
    }

    .table td,
    .table th {
        padding: 8px 10px;
        font-size: 1.1rem;

    }


}