@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* background: #1b1b1b; */
}


body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  color: #fff;
  background-color: #1b1b1b;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: inherit;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}